@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header,
    nav,
    main,
    footer {
        max-width: 800px;
    }

    header {}

    header,
    h1 {
        font-size: 40px;
        margin-top: -.75em;
    }

    header img {
        display: flex;
        margin: .5em 3em;
        padding: 0;
        height: 3.5em;
        width: 6em;
    }

    header .subheading {
        font-size: 25px;
        margin-top: -1em;
        margin-bottom: 1em;

    }
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    nav ul.hide {
        display: block;
    }

    nav ul {
        list-style-type: none;
        margin: .25em .25em;
        padding: .25em;
        overflow: hidden;
        background-color: teal;
    }
    nav ul li {
        display: inline-flex;
        flex-flow: row nowrap;
    }
    nav ul li a {
        border: none;
        color: white;
        text-align: center;
        padding: 1em 3em;
        text-decoration: none;
    }


    .forecast {
        clear: both;
        display: block;
    }

    table,
    th,
    td {
        border: 1px solid lightgrey;
        border-collapse: collapse;
        align-content: center;
    }

    table {
        border-spacing: 2px;
        box-shadow: 5px 5px 20px #628ca6;
    }

    th,
    td {
        padding: 3px;
        text-align: center;
    }
    
    /* responsive images */
    main figure img {
        width: 340px;
        height: 220px;
    }

    .info {
        max-width: 30em;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main p#storm {
        float: left;
        width: 50%;
        padding: 5px;
    }

    footer {
        clear: both;
    }
    #towns {
        grid-template-columns: 1fr 1fr;
    }
    #townimg {
        display: inline-grid;
    }
    article img#weatherimg {
        max-width: 50%;
    }
}

